@font-face {
  font-family: 'Futura-Bold';
  src: url('/public/fonts/futura/Futura-Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Medium';
  src: url('/public/fonts/futura/Futura-Medium.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Medium-Condensed';
  src: url('/public/fonts/futura/Futura-Medium-Condensed.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Medium-Italic';
  src: url('/public/fonts/futura/Futura-Medium-Italic.ttf') format('truetype');
  font-style: italic;
}

